{% load static %}

{% block loading %}
<div class="loading">
    <div class="loading-display-area">
        <div class="loading-detail himiko">
            <img class="loading-image" src="{% static 'images/ijin-icons/himiko.png' %}" alt="卑弥呼">
            <h3 class="loading-ijin-name">卑弥呼</h3>
            <p class="loading-description">
                卑弥呼（ひみこ、生年不明 - 242年～248年）は、
                「魏志倭人伝」等の中華の史書に記されている倭国の王（女王）。
                邪馬台国に都をおいていたとされる。封号は親魏倭王。
            </p>
        </div>
        <div class="loading-detail saigou-takamori">
            <img class="loading-image" src="{% static 'images/ijin-icons/saigou-takamori.png' %}" alt="西郷隆盛">
            <h3 class="loading-ijin-name">西郷隆盛</h3>
            <p class="loading-description">
                西郷 隆盛（さいごう たかもり、1828年1月23日～1877年9月24日）は、薩摩藩士・軍人・政治家。
                佐賀の乱、萩の乱など士族の反乱が続く中で、私学校生徒の暴動から起こった西南戦争の指導者となる。
            </p>
        </div>
        <div class="loading-detail fukuzawa-yukichi">
            <img class="loading-image" src="{% static 'images/ijin-icons/fukuzawa-yukichi.png' %}" alt="福沢諭吉">
            <h3 class="loading-ijin-name">福沢諭吉</h3>
            <p class="loading-description">
                福澤 諭吉（ふくざわ ゆきち、1835年1月10日～1901年2月3日）は、日本の武士、蘭学者、著述家、啓蒙思想家、教育者。
                慶應義塾の創設者であり、日本銀行券一万円紙幣の肖像に採用されている。
            </p>
        </div>
        <div class="loading-detail kukai">
            <img class="loading-image" src="{% static 'images/ijin-icons/kukai.png' %}" alt="空海">
            <h3 class="loading-ijin-name">空海</h3>
            <p class="loading-description">
                空海（くうかい、774年～835年）は、平安時代初期の僧。
                弘法大師（こうぼうだいし）の諡号で知られる真言宗の開祖である。
            </p>
        </div>
        <div class="loading-detail sakamoto-ryouma">
            <img class="loading-image" src="{% static 'images/ijin-icons/sakamoto-ryouma.png' %}" alt="坂本龍馬">
            <h3 class="loading-ijin-name">坂本龍馬</h3>
            <p class="loading-description">
                坂本 龍馬（さかもと りょうま、1836年1月3日～1867年12月10日）は、江戸時代末期の志士、土佐藩郷士。
                志士として活動し海援隊を結成した。薩長同盟の成立に協力し、倒幕および明治維新に関与した。
            </p>
        </div>
        <div class="loading-detail murasakishikibu">
            <img class="loading-image" src="{% static 'images/ijin-icons/murasakishikibu.png' %}" alt="紫式部">
            <h3 class="loading-ijin-name">紫式部</h3>
            <p class="loading-description">
                紫式部（むらさきしきぶ、生没年不詳）は、平安時代中期の女性作家、歌人。
                「源氏物語」の作者とされ、藤原道長の要請で宮中に上がった際に宮中の様子を書いた「紫式部日記」も残している。
            </p>
        </div>
        <div class="loading-detail mouri-motonari">
            <img class="loading-image" src="{% static 'images/ijin-icons/mouri-motonari.png' %}" alt="毛利元就">
            <h3 class="loading-ijin-name">毛利元就</h3>
            <p class="loading-description">
                毛利 元就（もうり もとなり、1497年4月16日～1571年7月6日）は、戦国時代の武将。
                死ぬ間際の元就が、3人の息子を枕元に呼び寄せて「三本の矢」という教訓を教えた逸話がある。
            </p>
        </div>
    </div>
</div>
{% endblock %}